.inner-label-wrap {
  position:relative;
  display:flex;
}
.inner-label-wrap input {
  padding: .5em 1em;
  border: 1px solid var(--secondary-clr);
  width: 32.5ch;
}
.inner-label-wrap input::placeholder {
  opacity:0;
}
.inner-label {
  position:absolute;
  left:1em;
  align-self:center;
  color:var(--text-clr);
  white-space: nowrap;
  transition: .3s ease-out;
  transform-origin: 0 0;
}
.inner-label-wrap input:focus + .inner-label,
.inner-label-wrap input:not(:placeholder-shown) + .inner-label {
  transform: scale(.8) translate(-.7em, -1.35em);
  padding: 0 .5em;
  background-color: var(--contrast-clr);
}

.inner-label-wrap input:invalid:not(:placeholder-shown) {
  border: 2px solid red;
}