.log-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  height: 100%;
  width: 40%;
  padding: 2rem;
  background-color: var(--contrast-clr);
  transition: left .5s ease-out;
}

.log-form--login {
  left: 10%;
  padding-top: 5rem;
  padding-bottom: 8rem;
}

.log-form--signup {
  left: 50%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.log-form--button {
  margin-top: auto;
}

input.invalid {
  border: 2px solid red;
}

.tooltip {
  position: absolute;
  font-size:1rem;
  top:-.5em;
  right:-.5em;
}

.tooltip svg {
  color:var(--contrast-clr);
  background-color:var(--secondary-clr);
  border-radius:50%;
  stroke:none;
}

.tooltip .tooltip-hover {
  position:absolute;
  bottom:100%;
  transform: translateX(-50%);
  width:300px;
  display:none;
  color:white;
  padding: .5rem 1rem;
  background-color: var(--secondary-clr);
  border-radius:5px;
}

.tooltip:hover .tooltip-hover {
  display:block;
}

.shake {
  animation: shake .5s linear;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(7%);
  }
  67% {
    transform: translateX(-7%);
  }
  100% {
    transform: translateX(0);
  }
}