.dashboard-add-project {
  background-color: var(--blue-600);
  width: min(80vw, 1050px);
  margin-inline:auto;
}

.banner-title {
  background-color: var(--blue-700);
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
}

.dashboard-add-project--form {
  padding-inline: 5rem;
  padding-block: 2rem;
  display:flex;
  flex-direction: column;
  gap:1rem;
}

.dashboard-add-project--form button:last-child {
  align-self:end;
}

.main-with-aside {
  --aside-width: max(calc(120px + 4rem), calc((100vw - 1050px) / 2));
  display: grid;
  grid-template-columns: var(--aside-width) calc(100vw - (2 * var(--aside-width))) var(--aside-width);
  grid-template-rows: max-content 1fr;
}

.main-with-aside h1 {
  grid-column: 2;
  grid-row: 1;
}

.main-with-aside__main-content {
  grid-column: 2;
  grid-row: 2;
}

.main-with-aside .aside-left {
  grid-row: 2 / -1;
  grid-column: 1;
  /* padding-top: 4rem; */
  /* width: fit-content; */
  margin-right: 1rem;
}

.main-with-aside .aside-right {
  position: sticky;
  top: 0;
  grid-row: 1 / -1;
  grid-column: 3;
  padding-top: 4rem;
  height: calc(100vh - min(15vh,150px));
  width: fit-content;
  margin-left: 1rem;
  margin-right:2rem;
}


/********** TRANSITIONS ****************/
/* Appear */
.slide-appear {
  opacity: 0;
}

.slide-appear-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}


/* Slide on changing the component */

.slide-enter {
  transform: translate(100%);
}

.slide-enter-active {
  transform: translate(0);
  transition: transform .3s cubic-bezier(.76,2.14,.04,.87);
}

.slide-exit {
  transform: translate(0);
}

.slide-exit-active {
  transform: translate(-100%);
  transition: transform 0.25s cubic-bezier(.76,2.14,.04,.87);
}

.slide-exit-done {
  transform: translate(-100%);
}