.dashboard-add-project {
  background-color: var(--blue-600);
  width: min(80vw, 1050px);
  margin-inline:auto;
}

.banner-title {
  background-color: var(--blue-700);
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
}

.dashboard-add-project--form {
  padding-inline: 5rem;
  padding-block: 2rem;
  display:flex;
  flex-direction: column;
  gap:1rem;
}

.dashboard-add-project--form button:last-child {
  align-self:end;
}

.main-with-aside {
  --aside-width: max(calc(120px + 4rem), 10vw);
  display: grid;
  grid-template-columns: var(--aside-width) calc(100vw - (2 * var(--aside-width))) var(--aside-width);
  grid-template-rows: max-content 1fr;
}

.main-with-aside h1 {
  grid-column: 2;
  grid-row: 1;
}

.main-with-aside__main-content {
  grid-column: 2;
  grid-row: 2;
}

.main-with-aside aside {
  grid-row: 1 / -1;
  grid-column: 3;
  padding-top: 4rem;
}