.student-profile-background{
    width: 100vw;
    height: 100vh;
}

.student-profile-maintext{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 48px;
}

.student-profile-imageupload{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 30%;
}