@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Titillium+Web:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700&display=swap');

:root {
  --accent-clr: #EE964B;
  --secondary-clr: #63C3D1;
  --blue-600: #133D60;
  --blue-700: #0B253A;
  --blue-900: #011322;
  --bg-clr: var(--blue-900);
  --contrast-clr: #fff;
  --text-clr: #000;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin:0;
}

body {
  font-family: 'Titillium Web', Arial, sans-serif;
}

.App {
  min-height: 100vh;
  background-color: var(--bg-clr);
  display: grid;
}

.home-logo {
  place-self:center;
  max-height: min(25vh, calc(100vh - 500px));
}

main {
  color:var(--contrast-clr);
}

main h1 {
  margin-block: 1em;
  text-align: center;
  color: rgba(255 255 255 / .6);
  font-size: 3rem;
}